* {
    margin: 0px;
    padding: 0px;
}

.header {
    height: 90px;
    width: 100%;
    background-color:#554e4e;
    display: flex;
    justify-content: center;

}

.container {
    width: 90%;
    background-color: red;
    display: flex;
    
}

.logo {
    height: 90px;
    width: 20%;
    background-color: yellow;
    font-size: 50px;
    font-family: segoe UI;
    text-align: center;
    font-weight: bold;

}

.nav {
    height: 90px;
    width: 25%;
    background-color: green;
    display: flex;
}

.header_container {
    justify-content: space-between;
} 

.nav_item {
    width: 20%;
    height: 90px;
    background-color: blue;
    font-size: 12px;
    font-family: segeo UI;
    text-align: center;
    line-height: 90px;
    cursor: pointer;
}

.nav_item:hover {
    background-color: white;
    color: gray;
}

.banner {
    height: 700px;
    width: 100%;
    background-color: red;
    background-image: url('https://images.pexels.com/photos/7209974/pexels-photo-7209974.jpeg?auto=compress&cs=tinysrgb&h=650&w=940');
    background-position: fixed;
    background-color: rgba(0,0,0,0.4);
    
}

.overlay {
    height: 700px;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
}

.banner_txt {
    height: 300px;
    width: 50%;
    background-color: rgba(131, 122, 122, 0.8);
    font-family: sans-serif;
    font-size: 20px;
    display: flex;
    align-items: center;

}

.banner_title {
    font-size: 50px;
    margin-bottom: 15px;

}
.padd {
    padding: 20px;

}

.banner_btn {
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 15px;
    padding-bottom: 15px;
    transform: uppercase;
    border: 3px solid white;
    margin-top: 15px;
    font-size: 20px;
    cursor: pointer;
    background-color: gray;
    transition: 0.4s;
}

.banner_btn:hover {
    background-color: white;
    color: grey;
}
.head_txt {
}
.services {
    padding-top: -100px;
    padding-bottom: 50px;
    background-color: gray;
    display: flex;
    align-items: center;
    flex-direction: coloumn;
    font-size: 30px;
    justify-content: center;
}

.services_container {
    margin-top: 50px;

}
.service {
    height: 400px;
    width: 40%;
    background-color: red;

}
